[submodule "15-NaughtCoin/lib/openzeppelin-contracts"]
	path = 15-NaughtCoin/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "16-Preservation/lib/forge-std"]
	path = 16-Preservation/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "17-Recovery/lib/forge-std"]
	path = 17-Recovery/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "18-MagicNumber/lib/forge-std"]
	path = 18-MagicNumber/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "19-AlienCodex/lib/forge-std"]
	path = 19-AlienCodex/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "19-AlienCodex/lib/openzeppelin-contracts"]
	path = 19-AlienCodex/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "20-Denial/lib/forge-std"]
	path = 20-Denial/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "21-Shop/lib/forge-std"]
	path = 21-Shop/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "23-Dex2/lib/forge-std"]
	path = 23-Dex2/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "23-Dex2/lib/openzeppelin-contracts"]
	path = 23-Dex2/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "24-PuzzleWallet/lib/forge-std"]
	path = 24-PuzzleWallet/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "24-PuzzleWallet/lib/openzeppelin-contracts"]
	path = 24-PuzzleWallet/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "25-motorbike/lib/forge-std"]
	path = 25-motorbike/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "25-motorbike/lib/openzeppelin-contracts"]
	path = 25-motorbike/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "25-motorbike/lib/openzeppelin-contracts-upgradeable"]
	path = 25-motorbike/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "26-DoubleEntryPoint/lib/forge-std"]
	path = 26-DoubleEntryPoint/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "26-DoubleEntryPoint/lib/openzeppelin-contracts"]
	path = 26-DoubleEntryPoint/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "27-GoodSamaritan/lib/forge-std"]
	path = 27-GoodSamaritan/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "27-GoodSamaritan/lib/openzeppelin-contracts"]
	path = 27-GoodSamaritan/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "28-GatekeeperThree/lib/forge-std"]
	path = 28-GatekeeperThree/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
